// @import "~antd/dist/antd.css";

body {
  background-color: #f3e9dc;
  font-family: sans-serif;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1.5px solid #895737;
}

.logo,
.logo:hover {
  width: 50%;
  margin: auto;
  text-align: center;
  font-weight: 500;
  font-size: 2.5rem;
  color: #895737;
  text-decoration: none;
}

.menu {
  padding-right: 0.5rem;
}

.board-wrapper {
  width: 50%;
  margin: auto;
  background-color: rgba(218, 180, 157, 0.5);
  display: flex;
  align-items: stretch;
  height:100%
}

.board-add-icon{
    margin-left: auto;
    margin-right:0;
    padding-right: 2px;
    padding-top: 2px;
}